/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    position: relative;
}

.login-html {
    width: 100%;
    padding: 50px 70px;
    background: rgba(40, 57, 101, .9);
    border-radius: 8px;
}

.login-form .group .button {
    text-transform: uppercase;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

/* Chrome, Safari, Edge, Opera */
.login-form input::-webkit-outer-spin-button,
.login-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.login-form input[type=number] {
    -moz-appearance: textfield;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .button {
    background: #1161ee;
}

.alert {
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 12px;
}

.alert p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.alert-success {
    background-color: green;
}

.alert-error {
    background-color: red;
}

.verify-otp-form {
    display: none;
}

.otp-input-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 5px;
    -moz-appearance: textfield;
}

.otp-input:focus {
    outline: none;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.group .resend-otp {
    color: #fff;
}

.group .resend-otp .resend-otp-link {
    text-decoration: none;
    padding: 6px;
    background-color: #1161ee52;
    color: #fff;
    border-radius: 8px;
}