/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    position: relative;
}

.login-html {
    width: 100%;
    padding: 50px 70px;
    background: rgba(40, 57, 101, .9);
    border-radius: 8px;
}

.login-form .group .button {
    text-transform: uppercase;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

/* Chrome, Safari, Edge, Opera */
.login-form input::-webkit-outer-spin-button,
.login-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.login-form input[type=number] {
    -moz-appearance: textfield;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}

.login-form .group .button {
    background: #1161ee;
}

.alert {
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 12px;
}

.alert p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

.alert-success {
    background-color: green;
}

.alert-error {
    background-color: red;
}

.verify-otp-form {
    display: none;
}

.otp-input-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.otp-input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 5px;
    -moz-appearance: textfield;
}

.otp-input:focus {
    outline: none;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.group .resend-otp {
    color: #fff;
}

.group .resend-otp .resend-otp-link {
    text-decoration: none;
    padding: 6px;
    background-color: #1161ee52;
    color: #fff;
    border-radius: 8px;
}


/* === Keyframes === */
@keyframes Loader-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes Loader-morph {
    0% {
        stroke-dashoffset: 190%;
    }

    50% {
        stroke-dashoffset: 50%;
        transform: rotate(90deg);
    }

    100% {
        stroke-dashoffset: 190%;
        transform: rotate(360deg);
    }
}

/* === Base === */
.Loader-root {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    --Loader-trackColor: #f2f4f4;
    --Loader-color: #2b7abc;
    --Loader-inverseColor: #2b7abc;
    --Loader-xs-size: 1.5em;
    --Loader-xs-border: 0.25em;
    --Loader-sm-size: 3em;
    --Loader-sm-border: 0.375em;
    --Loader-md-size: 5em;
    --Loader-md-border: 0.5em;
    --Loader-lg-size: 7em;
    --Loader-lg-border: 0.75em;
}

.Loader-circle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    animation: Loader-rotate 2.25s linear infinite;
}

.Loader-track,
.Loader-spin {
    fill: none;
}

.Loader-track {
    stroke: var(--Loader-trackColor);
}

.Loader-spin {
    stroke: var(--Loader-color);
    stroke-linecap: round;
}

.Loader-root:not(.ie11) .Loader-spin {
    animation: Loader-morph 1.75s ease infinite;
}

.Loader-root.ie11 .Loader-spin {
    stroke-dashoffset: 100%;
}

.Loader-inverse .Loader-spin {
    stroke: var(--Loader-inverseColor);
}

/* === Sizes === */
.Loader-xs {
    width: var(--Loader-xs-size);
    height: var(--Loader-xs-size);
    --Loader-width: var(--Loader-xs-border);
}

.Loader-xs .Loader-circle {
    width: var(--Loader-xs-size);
    height: var(--Loader-xs-size);
}

.Loader-xs .Loader-track,
.Loader-xs .Loader-spin {
    stroke-width: var(--Loader-width);
}

.Loader-xs .Loader-spin {
    stroke-dasharray: 3em;
    transform-origin: 50% 50%;
}

.Loader-sm {
    width: var(--Loader-sm-size);
    height: var(--Loader-sm-size);
    --Loader-width: var(--Loader-sm-border);
}

.Loader-sm .Loader-circle {
    width: var(--Loader-sm-size);
    height: var(--Loader-sm-size);
}

.Loader-sm .Loader-track,
.Loader-sm .Loader-spin {
    stroke-width: var(--Loader-width);
    stroke-dasharray: 6em;
    transform-origin: 50% 50%;
}

.Loader-md {
    width: var(--Loader-md-size);
    height: var(--Loader-md-size);
    --Loader-width: var(--Loader-md-border);
}

.Loader-md .Loader-circle {
    width: var(--Loader-md-size);
    height: var(--Loader-md-size);
    stroke-width: var(--Loader-md-border);
}

.Loader-md .Loader-track,
.Loader-md .Loader-spin {
    stroke-width: var(--Loader-width);
}

.Loader-md .Loader-spin {
    stroke-dasharray: 10.5em;
    transform-origin: 50% 50%;
}

.Loader-lg {
    width: var(--Loader-lg-size);
    height: var(--Loader-lg-size);
    --Loader-width: var(--Loader-lg-border);
}

.Loader-lg .Loader-circle {
    width: var(--Loader-lg-size);
    height: var(--Loader-lg-size);
    stroke-width: var(--Loader-lg-border);
}

.Loader-lg .Loader-track,
.Loader-lg .Loader-spin {
    stroke-width: var(--Loader-width);
}

.Loader-lg .Loader-spin {
    stroke-dasharray: 14em;
    transform-origin: 50% 50%;
}